## Google Account Credentials
# If you don't know your site table_id type:
#			./google2piwik.py -p
[google]
user_login = user
user_pass  = password
table_id   = ga:XXXXXXXX

# MySQL Piwik Database configuration
[mysql]
db = piwik
host = localhost
port = 3306
user = piwik
passwd = password
table_prefix = piwik

# Set export date range
[export]
start = 2011-01-01
end   =  

## Piwik configuration of site.
# For default Piwik installation with one website, site_id should be set to 1
[piwik]
site_id  = 1
site_url = http://example.com

